<ion-view title="Agenda" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="aulas-heading5" style="color: #065D09; text-align: center" class=" ">Agenda de aulas</h2>

        <div class="row">
            <div class="col-10"><h4 style="font-size:18px">Dia</h4></div>
            <div class="col-33"><h4 style="font-size: 18px; text-align: center">Aula</h4></div>
            <div class="col-10"></div>
            <div class="col-10"><h4 style="font-size:18px">Dia</h4></div>
            <div class="col-33"><h4 style="font-size: 18px; text-align: center">Aula</h4></div>
        </div>
        
        <div class="spacer" style="height: 20px;"></div>

        <div class="row">
            <div class="col-10"><span class="badge badge-balanced" style="font-size:20px">1</span></div>
            <div class="col-33">
                <div class="item item-text-wrap balanced-border">
                    <h2 class="balanced">Aula de geometria</h2>
                </div>
            </div>
            <div class="col-10"></div>
            <div class="col-10"><span class="badge badge-balanced" style="font-size:20px">3</span></div>

            <div class="col-33">
                <div class="item item-text-wrap balanced-border">
                    <h2 class="balanced">Aula de geometria</h2>
                </div>
            </div>
        </div>

        <div class="spacer" style="height: 20px;"></div>
               
        <div class="row">
            <div class="col-10"><span class="badge badge-balanced" style="font-size:20px">4</span></div>
            <div class="col-33">
                <div class="item item-text-wrap balanced-border">
                    <h2 class="balanced">Aula de geometria</h2>
                </div>
            </div>
            <div class="col-10"></div>
            <div class="col-10"><span class="badge badge-stable" style="font-size:20px">6</span></div>
            <div class="col-33">
                <div class="item item-text-wrap">
                    <h2>Aula de Física</h2>
                </div>
            </div>
        </div>

        <div class="spacer" style="height: 20px;"></div>

        <div class="row">
            <div class="col-10"><span class="badge badge-stable" style="font-size:20px">7</span></div>
            <div class="col-33">
                <div class="item item-text-wrap">
                    <h2>Aula de Geometria</h2>
                </div>
            </div>
            <div class="col-10"></div>
            <div class="col-10"><span class="badge badge-stable" style="font-size:20px">14</span></div>
            <div class="col-33">
                <div class="item item-text-wrap">
                    <h2>Aula de Informática</h2>
                </div>
            </div>
        </div>

        <div class="spacer" style="height: 20px;"></div>

        <div class="row">
            <div class="col-10"><span class="badge badge-stable" style="font-size:20px">17</span></div>
            <div class="col-33">
                <div class="item item-text-wrap">
                    <h2 >Aula de Álgebra</h2>
                </div>
            </div>
            <div class="col-10"></div>
            <div class="col-10"><span class="badge badge-balanced" style="font-size:20px">19</span></div>
            <div class="col-33">
                <div class="item item-text-wrap balanced-border">
                    <h2 class="balanced">Aula de Informática</h2>
                </div>
            </div>
        </div>

        <div class="spacer" style="height: 20px;"></div>

        <div class="row">
            <div class="col-10"><span class="badge badge-stable" style="font-size:20px">21</span></div>
            <div class="col-33">
                <div class="item item-text-wrap">
                    <h2>Aula de Informática</h2>
                </div>
            </div>
            <div class="col-10"></div>
            <div class="col-10"><span class="badge badge-balanced" style="font-size:20px">23</span></div>
            <div class="col-33">
                <div class="item item-text-wrap balanced-border">
                    <h2 class="balanced">Aula de Física</h2>
                </div>
            </div>
        </div>

        <div class="spacer" style="height: 20px;"></div>

        <div class="row">
            <div class="col-10"><span class="badge badge-stable" style="font-size:20px">24</span></div>
            <div class="col-33">
                <div class="item item-text-wrap">
                    <h2>Aula de Álgebra</h2>
                </div>
            </div>
            <div class="col-10"></div>
            <div class="col-10"><span class="badge badge-stable" style="font-size:20px">30</span></div>
            <div class="col-33">
                <div class="item item-text-wrap">
                    <h2>Aula de Informática</h2>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>