<ion-view title="Aulas" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-divider">
                <strong style="text-align:center;" class="balanced">Lista de aulas oficializadas</strong>
            </div>
            <div class="item item-text-wrap">
                <ion-list id="aulas-list4" class=" ">
                    <ion-item class="item-icon-left balanced  " id="aulas-list-item17" ui-sref="instrutor.informaEsDaAula">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Geometria
                    </ion-item>
                    <ion-item class="item-icon-left balanced  " id="aulas-list-item18">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Geometria
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                <strong style="text-align:center;" class="positive">Lista de aulas ainda não confirmadas</strong>
            </div>
            <div class="item item-text-wrap">
                <ion-list id="aulas-list4" class=" ">
                    <ion-item class="item-icon-left positive  " id="aulas-list-item17" ui-sref="instrutor.aulaAgendada">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Física
                    </ion-item>
                    <ion-item class="item-icon-left positive  " id="aulas-list-item18">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Informática
                    </ion-item>
                </ion-list>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <strong style="text-align:center;">Lista de aulas em reagendamento</strong>
            </div>
            <div class="item item-text-wrap">
                <ion-list id="aulas-list4">
                    <ion-item class="item-icon-left" id="aulas-list-item17" ui-sref="instrutor.aulaReagendada">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Álgebra
                    </ion-item>
                    <ion-item class="item-icon-left" id="aulas-list-item18">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Geometria
                    </ion-item>
                </ion-list>
            </div>
        </div>

        <div class=" button-bar ">
            <a ui-sref="instrutor.historicoAulas" id="mensagens-button2" class=" button button-positive  button-block ">Histórico</a>
        </div>
    </ion-content>
</ion-view>