<ion-view title="Histórico" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="histRico-heading4" style="color: #1523C3; font-weight: 400; text-align: center" class=" ">Histórico de mensagens</h3>
        <ion-list id="histRico-list3" class=" ">
            <ion-item class="item-icon-left " ui-sref="instrutor.mensagens">
                <i class="icon ion-person"></i>
                <h2positive>Aluno 1</h2positive>
                <span class="item-note" style="margin-right:15px">
                    Hoje
                </span>
                <span class="badge badge-assertive">2</span>
            </ion-item>
            <ion-item class="item-icon-left " ui-sref="#">
                <i class="icon ion-person"></i>
                <h2positive>Caio Augusto</h2positive>
                <span class="item-note" style="margin-right:15px">
                    3 dias atrás
                </span>
                <span class="badge badge-assertive">4</span>
            </ion-item>
            <ion-item class="item-icon-left " ui-sref="#">
                <i class="icon ion-person"></i>
                <h2positive>Larissa Santos</h2positive>
                <span class="item-note" style="margin-right:15px">
                    5 dias atrás
                </span>
                <span class="badge badge-assertive">1</span>
            </ion-item>
            <ion-item class="item-icon-left " ui-sref="aluno.mensagens">
                <i class="icon ion-person"></i>
                <h2positive>Victória Silva</h2positive>
                <span class="item-note" style="margin-right:15px">
                    10 dias atrás
                </span>
                <span class="badge badge-assertive">3</span>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>