<ion-view title="Histórico" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="histRico-heading4" style="color: #1523C3; font-weight: 400; text-align: center" class=" ">Histórico de aulas finalizadas</h3>
        <div class="card">
            <div class="item item-text-wrap">
                <ion-list id="aulas-list4">
                    <ion-item class="item-icon-left" id="aulas-list-item17" ui-sref="instrutor.aulaFinalizada">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Física
                    </ion-item>
                    <ion-item class="item-icon-left" id="aulas-list-item18">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Álgebra
                    </ion-item>
                    <ion-item class="item-icon-left" id="aulas-list-item18">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Geometria
                    </ion-item>
                    <ion-item class="item-icon-left" id="aulas-list-item18">
                        <i class="icon ion-ios-bookmarks-outline"></i>Aula de Informática
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>