<ion-view title="Início" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="inCio-heading1" style="color:#3140D1;font-weight:400;text-align:center;" class=" ">Bem-vindo</h1>

            <div class="list card">
                <a ui-sref="instrutor.mensagens" class="item item-icon-left item-positive">
                    <i class="icon ion-email-unread"></i>
                    <h2 style="color:white;">5 novas mensagens!</h2>
                    <p style="color:white;">Ver detalhes</p>
                </a>
                <div class="spacer" style="height: 10px;"></div>
                <a ui-sref="instrutor.aulas" class="item item-icon-left item-balanced">
                    <i class="icon ion-easel"></i>
                    <h2 style="color:white;">2 aulas agendadas!</h2>
                    <p style="color:white;">Ver detalhes</p>
                </a>         
            </div>

    </ion-content>
</ion-view>