<ion-view title="Informações da aula" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 style="font-weight: 400; text-align: center" class="positive">Aula de Física</h2>
        <div class="item item-body">
            <p id="informaEsDaAula-markdown2" style="color:#000000;" class=" ">
                Data: 12/10/2016 às 13:00 <br />Aluno: Aluno 2. <br />Status: Aguradando confirmação do aluno
                <br />Outras informações: <br />É necessário levar livros. A aula será realizada no centro cultural
            </p>
         </div>
    </ion-content>
</ion-view>

