<ion-view title="Informações da aula" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="informaEsDaAula-heading6" style="font-weight: 400; text-align: center">Aula de Física</h2>
        <div class="item item-body " id="informaEsDaAula-list-item-container2">
            <p style="color:#000000;" class=" ">
                Data: 10/10/2016 às 13:00 <br />Aluno: Aluno 4. <br />Status: Finalizada.
                <br />Outras informações: <br />É necessário levar livros. A aula será realizada na Biblioteca Mário de Andrade.
            </p>
        </div>
    </ion-content>
</ion-view>

