<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu22"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu22" style="background-color:#3864D3;">
        <ion-header-bar class="bar-stable">
            <div class="title">Instrutor</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="instrutor-list1" class=" ">
                <ion-item class="item-icon-left positive"  id="instrutor-list-item1" ui-sref="instrutor.inCio" menu-close="">
                    <i class="icon ion-easel"></i> Início
                </ion-item>
                <ion-item class="item-icon-left positive  " id="instrutor-list-item2" ui-sref="instrutor.mensagens" menu-close="">
                    <i class="icon ion-email"></i> Mensagens
                </ion-item>
                <ion-item class="item-icon-left positive  " id="instrutor-list-item3" ui-sref="instrutor.aulas" menu-close="">
                    <i class="icon ion-ios-bookmarks"></i> Aulas
                </ion-item>
                <ion-item class="item-icon-left positive  " id="instrutor-list-item4" ui-sref="instrutor.agenda" menu-close="">
                    <i class="icon ion-calendar"></i> Agenda
                </ion-item>
                <ion-item class="item-icon-left positive" id="instrutor-list-item5" ui-sref="instrutor.avaliacoes" menu-close="">
                    <i class="icon ion-ribbon-b"></i> Avaliações
                </ion-item>
                <ion-item class="item-icon-left positive  " id="instrutor-list-item6" ui-sref="login" menu-close="">
                    <i class="icon ion-log-out"></i> Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>