<ion-view title="Nova Aula" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="login-heading7" style="color:#282EC2;text-align:center;" class=" ">Informações</h3>
        <div class="list">
            <div class="spacer" style="height: 40px;"></div>
            <label class="item item-input item-select">
                <div class="input-label">A aula será de que?</div>
                <select>
                    <option>Matemática</option>
                    <option>Física</option>
                    <option>Informática</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Que dia acontecerá a aula?</span>
                <input class="form-control" type="date" placeholder="Data">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Horário:</span>
                <input class="form-control" type="time" placeholder="HH:MM">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mais informações sobre a aula?</span>
                <textarea rows="3">Por exemplo: Local e Materiais necessários
                </textarea>
            </label>

            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="#" style="color:#FDFCFC;" class=" button button-balanced button-block">Ok</a>
        </div>      
        
    </ion-content>
</ion-view>