<ion-view title="Histórico" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="histRico-heading4" style="color:#1523C3;font-weight:400;text-align:center">Histórico de mensagens</h3>
        <div class="spacer" style="height: 40px;"></div>
        <ion-list id="histRico-list3" class=" ">
            
            <ion-item class="item-icon-left "  ui-sref="aluno.mensagens">
                <i class="icon ion-person"></i>
                <h2positive>José Felipe </h2positive>
                <span class="item-note" style="margin-right:15px">
                    Hoje
                </span>
                <span class="badge badge-assertive">3</span>
            </ion-item>

            <ion-item class="item-icon-left " ui-sref="#">
                <i class="icon ion-person"></i>
                <h2positive>Lucas Yoshiki</h2positive>
                <span class="item-note" style="margin-right:15px">
                   3 dias atrás                   
                </span>
                <span class="badge badge-assertive">1</span>
            </ion-item>
            <ion-item class="item-icon-left " ui-sref="#">
                <i class="icon ion-person"></i>
                <h2positive>Marcos Lima</h2positive>
                <span class="item-note" style="margin-right:15px">
                    5 dias atrás
                </span>
                <span class="badge badge-assertive">2</span>
            </ion-item>
            <ion-item class="item-icon-left " ui-sref="#">
                <i class="icon ion-person"></i>
                <h2positive>Mateus Augusto</h2positive>
                <span class="item-note" style="margin-right:15px">
                    7 dias atrás
                </span>
                <span class="badge badge-assertive">4</span>
            </ion-item>
            <ion-item class="item-icon-left " ui-sref="#">
                <i class="icon ion-person"></i>
                <h2positive>Mônica Santos</h2positive>
                <span class="item-note" style="margin-right:15px">
                    9 dias atrás
                </span>
                <span class="badge badge-assertive">3</span>
            </ion-item>
            <ion-item class="item-icon-left " ui-sref="#">
                <i class="icon ion-person"></i>
                <h2positive>Bruno Souza</h2positive>
                <span class="item-note" style="margin-right:15px">
                    10 dias atrás
                </span>
                <span class="badge badge-assertive">1</span>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>