<ion-view title="Informações da aula" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="informaEsDaAula-heading6" style="color: #0F5A04; font-weight: 400; text-align: center" class=" ">Aula de geometria</h2>
        <div class="item item-body " id="informaEsDaAula-list-item-container2">
            <p id="informaEsDaAula-markdown2" style="color:#000000;" class=" ">
                Data: 10/10/2016 às 13:00 <br />Professor: José Silva. <br />Status: Ainda não iniciada
                <br />Outras informações: <br />É necessário levar régua e caderno em folhas quadriculadas. A aula será realizada no centro cultural
            </p>
            <button id="informaEsDaAula-button6" class=" button button-balanced  button-block " ng-click="presenca()">Já cheguei</button>
            <button id="informaEsDaAula-button7" class=" button button-energized  button-block " ng-click="atraso()">Vou me atrasar</button>
            <button id="informaEsDaAula-button8" class=" button button-assertive  button-block " ng-click="cancelar()">Não vou mais</button>
        </div>
    </ion-content>  
</ion-view>

