<ion-view title="Mensagens" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="mensagens-heading3" style="color:#2C39CC;text-align:center;" class=" ">Mensagens</h2>
        <div id="mensagens-button-bar1" class=" button-bar ">
            <button id="mensagens-button1" class=" button button-positive  button-block ">José Felipe</button>
            <a ui-sref="aluno.histRico" id="mensagens-button2" class=" button button-positive  button-block ">Histórico</a>
        </div>

        <ion-scroll zooming="true" direction="yx" style="max-height:50vh">
            <ion-list id="mensagens-list2" class=" ">
                <ion-item class="item-avatar-left positive  " id="mensagens-list-item8">
                    <img>
                    <h2positive>
                        Você
                        <p style="white-space:normal;">Estou com dúvidas em geometria espacial, em áreas e volumes. você conhece bastante isso?</p>
                    </h2positive>
                </ion-item>
                <ion-item class="item-avatar-right balanced" id="mensagens-list-item9">
                    <img>
                    <h2balanced>
                        José felipe
                        <p style="white-space:normal;">Sim. eu conheco e essa é a minha especialidade. Inclusive eu tenho várias dicas pra você decorar as fórmulas</p>
                    </h2balanced>
                </ion-item>
                <ion-item class="item-avatar-left positive  " id="mensagens-list-item10">
                    <img>
                    <h2positive>
                        Você
                        <p style="white-space:normal;">Legal! Estou precisando disso. Bom, eu gostaria de umas duas aulas pra semana que vem.</p>
                    </h2positive>
                </ion-item>
                <ion-item class="item-avatar-right balanced  " id="mensagens-list-item11">
                    <img>
                    <h2balanced>
                        José felipe
                        <p style="white-space:normal;">Legal, só me passa o dia e o horário que você quer, estou à disposição</p>
                    </h2balanced>
                </ion-item>
                <ion-item class="item-avatar-left positive  " id="mensagens-list-item12">
                    <img>
                    <h2positive>
                        Você
                        <p style="white-space:normal;">Eu posso no sábado à tarde (a partir das 13:00 tá ótimo pra mim), você tem fácil aceso ao Centro cultural ou à alguma biblioteca pública de São Paulo?</p>
                    </h2positive>
                </ion-item>
            </ion-list>
        </ion-scroll>

        
        <div class="spacer" style="width: 283px; height: 27px;"></div>
        <form id="mensagens-form2" class="list ">
            <label class="item item-input " id="mensagens-input1">
                <input type="text" placeholder="Digite a sua mensagem aqui">
            </label>
        </form>
        <button id="mensagens-button4" class=" button button-balanced  button-block icon-right ion-android-send ">Enviar</button>
    </ion-content>
</ion-view>